parameters:
    database_driver:   pdo_sqlite
    database_path:     %kernel.root_dir%/../database/kitten.db3
    database_user:     root
    database_password: ~

    locale:            en
    secret:            Lolcats
