<div class="col-md-12">
    <div class="row">
        {% for cat in cats %}
            <div class="col-md-4 listed-cat">
                <div class="thumbnail">
                  <img src="http://placekitten.com/360/200" alt="{{ cat.name }}">
                  <div class="caption">
                    <h3>{{ cat.name }}</h3>
                    <p>Meow, meow, meow !</p>
                  </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <h2>Oh noz</h2>
                <p>No kittens were found :(</p>
            </div>
        {% endfor %}

        {% if cats.totalItemCount > 0 %}
            <div class="col-md-12">
                {{ knp_pagination_render(cats) }}
                <p>There's as much as {{ cats.totalItemCount }} cats</p>
            </div>
        {% endif %}
    </div>
</div>