{% extends '::base.html.twig' %}

{% block headers %}
    <title>{% block title %}{% block subtitle '' %}Kitten Litter{% endblock %}</title>
    <meta name="description" content="{% block description '' %}">
    <style type="text/css">
        body {
          padding-top: 50px;
          padding-bottom: 20px;
        }
    </style>
{% endblock headers %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('app_home') }}">Kitten Litter</a>
        </div>
        {{ include('App:Layout:_search.html.twig') }}
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        {% block jumbo_content %}<h1>Meow, World!</h1>{% endblock %}
      </div>
    </div>

    <div class="container">
        {% block content '' %}
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->
{% endblock %}